header {
  padding: 10px;
  color: white;
  background: linear-gradient(to bottom right,  rgb(76, 121, 245), rgb(59, 59, 206), rgb(76, 121, 245));
  text-align: center;
}

body {
  background: url(background.jpg) fixed center no-repeat;
  background-size: cover;
}

#sideMenu {
  background-color: rgb(198, 223, 252);
  height: flex;
}

#search-title {
  padding-top: 10px;
}

#sideMenu ul li {
  list-style: none;
  text-transform: capitalize;
}

#currentUVSpan {
  padding: 5px;
  border-radius: 3px;
}

.fiveDayCard {
  background: linear-gradient(to bottom right,  rgb(198, 223, 252), white, rgb(195, 219, 247));
}